node_modules/
build/
dist/
.env
*.log

# terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/tfplan
terraform/*kubeconfig*.yaml
terraform/upgrade_sequence.sh

# trivy
trivy-report*.json
trivy-report*.sarif

.DS_Store
