aws_region      = "us-east-1"
project         = "ecom-3tier"
environment     = "dev"
vpc_cidr        = "10.20.0.0/16"
azs             = ["us-east-1a", "us-east-1b"]
cluster_name    = "ecom-3tier-eks"
cluster_version = "1.34"

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 4
